body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    background-color: whitesmoke;
}

.dot:hover{
    fill:rgb(221, 221, 221)
}

g{
    color: rgb(158, 69, 69);
}

#tooltip{
    visibility: hidden;
    width: auto;
    height: auto;
    margin-top: 5px;
    color: rgb(56, 58, 74);
    font-size: 24px;
    margin-bottom: 5px;
}

#legend{
    margin-top: 5px;
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
}

#title{
    font-size: 28px;
    fill:rgb(180, 62, 62);
    text-transform: uppercase;
}